<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
         http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="productMongoUri" class="com.mongodb.MongoClientURI">
		<constructor-arg value="${mongo.product.uri}"></constructor-arg>
	</bean>

	<bean id="productMongoClient" class="com.mongodb.MongoClient">
		<constructor-arg ref="productMongoUri"></constructor-arg>
	</bean>


	
	<bean id="httpPostErrorConsumer" class="com.ymatou.errorreporter.api.HttpPostErrorConsumer">
		<constructor-arg value="${errorreport.url}"></constructor-arg>
	</bean>
	
	<bean id="bufferErrorReporter" class="com.ymatou.errorreporter.api.BufferedErrorReporter">
		<property name="errorConsumer" ref="httpPostErrorConsumer"></property>
	</bean>
</beans>